/* ========== MEDIA QUERIES (TABLETS) ========== */

@media screen and (max-width: 1024px ) { 
    .container {
        width: var(--container-width-md);
    }
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1.7rem;
    }
    h3 {
        font-size: 1.4rem;
    }
    h4 {
        font-size: 1.2rem;
    }

    /* ========== NAVBAR ========== */

    nav button {
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        color: var(--color-white);
        cursor: pointer;
    }
     
    nav button#close-menu-button {
        display: none;
    }

    .nav__menu{
        position: fixed;
        top: 5rem;
        right: 5%;
        width: 18rem;
        flex-direction: column;
        gap: 0;
        display: none;
    }
    
    .nav__menu li {
        width: 100%;
        height: 5.8rem;
    }

    .nav__menu li a {
        background: var(--color-primary);
        box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center ;
    }

    .nav__menu li a:hover {
        background: var(--color-bg2);
        color: var(--color-white);
    }
}

/* ========== HEADER ========== */

header {
    height: 70vh;
    margin-bottom: 2rem;
}

.header__container {
    gap: 0;
    padding: 0.5rem;
}

/* ==========DAYCARE INFO ========== */

.daycare {
    height: auto;
}

.daycare__container {
    grid-template-columns: 1fr;
    gap: 3rem;
}
.daycare__left {
    margin-right: 0;
}

/* ========== FAQs ========== */
.faqs__container {
    grid-template-columns: 1fr;
}
.faqs {
    padding: 1.5rem;
}

/* ========== FOOTER ========== */

.footer__container {
    grid-template-columns: 1fr 1fr;
}

/* ========== MEDIA QUERIES (PHONES) ========== */

@media screen and (max-width: 600px){ 
    .container {
        width: var(--container-width-sm);
    }

/* ========== NAVBAR ========== */
    .nav__menu {
        right: 3%;
    }
    
/* ========== HEADER ========== */
    header {
        height: 100vh;
    }
    .header__container {
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 0;
    }
    
    .header__left p {
        margin-bottom: 1.3rem;
    }
 
    .header__right {
        width: 60%;
        height: 60%;
        margin-bottom: 12rem;
        margin-left: 7.5rem;
    }

/* ========== HEADER ========== */
    .daycare__right {
    grid-template-columns: 1fr 1fr;
    gap: 0.7rem;
    }

    .daycare {
        padding: 1rem;
        border-radius: 1rem;  
    }
    .abtdaycare__icon {
        margin-top: 4px;
        display: inline-block;
    }

/* ========== HEADER ========== */
    .footer__container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 2rem;
    }

    .footer__1 p {
        margin: 1rem auto;
    }
    .footer__socials {
        justify-content: center;
    }
}


/* =============== MEDIA QUERY FOR THE CONTACT US ================== */



/* ========== MEDIA QUERIES (TABLETS) ========== */


@media screen and (max-width: 1024px) {
    .contact {
        padding-bottom: 0;
    }

    .contact__container {
        gap: 1.5rem;
        margin-top: 3rem;
        height: auto;
        padding: 1.5rem;
    }
    
    .contact__aside {
        width: auto;
        padding: 1.5rem;
        bottom: 0;
    }
    .contact__form{
        align-self: center;
        margin-right: 1.5rem;
    }
}


/* ========== MEDIA QUERIES (PHONES) ========== */


@media screen and (max-width: 600px) {
    .contact__containter {
        grid-template-columns: 1fr;
        gap: 3rem;
        margin-top: 0;
        padding: 0;
    }

    .contact__form {
        margin: 9 1.5rem 3rem;
    }

    .form__name {
        flex-direction: column;
    }
    
    .form__name input[type="text"]{
        width: 100%;
    }
    
}